examples/01.AzureIoTHub/Node-RED/STM32_MQTT.json
[{"id":"eb277e73.59a86","type":"debug","z":"c1a6a075.17c52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":200,"wires":[]},{"id":"578f60b1.a233c","type":"mosca in","z":"c1a6a075.17c52","mqtt_port":"1883","mqtt_ws_port":"8081","name":"MOSCA","username":"user","password":"__PWRD__","dburl":"","x":240,"y":200,"wires":[["eb277e73.59a86"]]},{"id":"c647c176.7e86d","type":"mqtt in","z":"c1a6a075.17c52","name":"","topic":"user/feeds/temp","qos":"2","broker":"428b1c56.f6a224","x":260,"y":360,"wires":[["e6261c9a.d4c3e"]]},{"id":"730803b.2d42ffc","type":"mqtt in","z":"c1a6a075.17c52","name":"","topic":"user/feeds/hello","qos":"2","broker":"428b1c56.f6a224","x":260,"y":300,"wires":[["e6261c9a.d4c3e"]]},{"id":"bf1646f9.308748","type":"mqtt in","z":"c1a6a075.17c52","name":"","topic":"user/feeds/hum","qos":"2","broker":"428b1c56.f6a224","x":260,"y":440,"wires":[["e6261c9a.d4c3e"]]},{"id":"e6261c9a.d4c3e","type":"debug","z":"c1a6a075.17c52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":300,"wires":[]},{"id":"4e3ef2c1.1b7ccc","type":"mqtt out","z":"c1a6a075.17c52","name":"","topic":"user/feeds/onoff","qos":"2","retain":"false","broker":"428b1c56.f6a224","x":560,"y":580,"wires":[]},{"id":"6dba37b6.40b078","type":"inject","z":"c1a6a075.17c52","name":"LED ON","topic":"ON","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":580,"wires":[["4e3ef2c1.1b7ccc"]]},{"id":"57764a8d.c12854","type":"inject","z":"c1a6a075.17c52","name":"LED OFF","topic":"OFF","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":660,"wires":[["4e3ef2c1.1b7ccc"]]},{"id":"2ff32f5a.250d2","type":"mqtt in","z":"c1a6a075.17c52","name":"","topic":"user/feeds/onoff2","qos":"2","broker":"428b1c56.f6a224","x":260,"y":500,"wires":[["4e3ef2c1.1b7ccc"]]},{"id":"428b1c56.f6a224","type":"mqtt-broker","z":"","name":"MQTT_BROKER","broker":"192.168.11.4","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]